### PYTHON BASIC ASSIGNMENT 1

#### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

1. 'hello'
2. -87.8
3. *
4.-
5. / 
6. +
7. 6

##### Answer
Values =  'hello'
           87.8
            6
           

Expression = /

#### 2. What is the difference between string and variable?

#### Answer
A = "Kanchan"
 Here A is a variable which holds the value which is assign to it
 
 and " Kanchan" is a string .String is a sequence of characters

#### 3. Describe three different data types.

#### Answer
Text Type: str

Numeric Types: int, float, complex

Sequence Types: list, tuple, range

Mapping Type: dict

Set Types: set, frozenset

Boolean Type: bool

Binary Types: bytes, bytearray, memoryview

#### 4. What is an expression made up of? What do all expressions do?

#### Answer
Expressions are representations of value.
An expression is an instruction that combines values and operators and always evaluates down to a single value. 
For example, 

this is an expression: 
add = 2 + 2. 

The 2s are integer values and the + is the mathematical operator.
This expression evaluates down to the single integer value 4.

#### 5. This assignment statements, like spam = 10. What is the difference between an  expression and a statement?

★Expression

Expressions always returns a value

Functions are also expressions. Even a non returning function will still return value, so it is an expression.


Examples Of Python Expressions: “Hello” + “World”, 4 + 5 etc.


★Statement

A statement never returns a value

Cannot print any result

Examples Of Python Statements: Assignment statements, conditional branching, loops, classes, import, def, try, except, pass,del etc

#### 6. After running the following code, what does the variable bacon contain?  bacon = 22, bacon +1

In [8]:
bacon = 22
bacon + 1
bacon
# bacon contains 22

22

#### 7. What should the values of the following two terms be? 'spam' + 'spamspam' ,,'spam' * 3

In [11]:
print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

#### 8. Why is eggs a valid variable name while 100 is invalid?

1. Variable name should start with letter(a-z,A-Z) or underscore (_).

Valid
age
_age
Age

Invalid
1age


2.In variable name, no special characters allowed other than underscore (_).

Valid
_age
age_

Invalid
age_*
+age


3.Variables are case sensitive.

age and Age are different, since variable names are case sensitive.


4.Variable name can have numbers but not at the beginning.

Example
Age1
Age2


5.Variable name should not be a Python keyword.Keywords are also called as reserved words.

Example
pass, break, continue.. etc are reserved for special meaning in Python. So, we should not declare keyword as a variable name.

#### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [16]:
a = 100
integer = print(int(100))
floating = print(float(100))
string = print(str(100))
## The Functions are int(), float(),str()

100
100.0
100

#### 10. Why does this expression cause an error? How can you fix it? 'I have eaten ' + 99 + ' burritos.'

In [18]:
exp = 'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [21]:
### This exüpression causes error because we can not ass string and number 
#### Sol. Convert number into String

'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'